body{
    background-color: black!important;
}
.navbar-brand{
    height: 40px;
    width: 40px;
    margin-top: -10px;
    margin-left: -80px;
}
h1 {
    color: yellow !important;
    font-size: 80px;
    font-family: sans-serif!important;
}

.mh-header-info{
    margin-top: -150px;
    margin-left: -150px ;
}
.designation{
    font-size: 50px!important;
    margin-top: 30px;
    font-family: sans-serif!important;
}
.intro{
    font-size: 20px;
    font-family: sans-serif!important;
}
.navbar li a{
    color: yellow!important;
    font-weight: lighter!important;
    font-family: sans-serif!important;
}

.navbar li a:hover{
    color: cyan!important;
}
.mh-fixed-nav{
    background-color: black!important;
}
/* about */
.img-sec{
    margin-top: -100px;
}
/* projects */
#about{
    color: yellow!important;
}
#education{
    color: yellow!important;
}
/* projects */
#work{
    color: yellow!important;
}
/* projects */
#skills{
    color: yellow!important;
}
/* projects */
#projects{
    color: yellow!important;
}
/* contact */
#contact{
    color: yellow!important;
}

.skill-container{
    margin-left: 70px;
}
.skill-row{

    padding: 20px 0;
}
.skill-row img{
    height: 60px;
    width: 60px;
}
#gitlab{
    height: 60px!important;
    width: 60px;
}
#vs{
    background-color: black;
}
#sublime{
    background-color: black;
}
/* span{
    padding-top: 20px;
    border: 1px solid white
} */
@media only screen and (min-device-width: 300px) and (max-device-width: 650px) {
    .navbar-brand{
        height: 40px;
        width: 40px;
        margin-top: 0px;
        margin-left: 10px;
    }
    h1 {
        color: yellow !important;
        font-size: 30px;
        opacity: 1;
    }
    .mh-header-info{
        margin-top: 0px;
        margin-left: 0px ;
    }
    .designation{
        font-size: 30px!important;
        margin-top: 10px;
    }
    .intro{
        font-size: 15px;
    }
    .skill-container{
        margin-left: 0px;
    }
    .skill-row{
        /* border: 1px solid white; */
        padding: 20px 0;
    }
}


@media only screen and (min-device-width: 650px) and (max-device-width: 1250px) {
    .navbar-brand{
        height: 40px;
        width: 40px;
        margin-top: 0px;
        margin-left: 0px;
    }
    h1 {
        color: yellow !important;
        font-size: 50px;
        opacity: 1;
    }
    .mh-header-info{
        margin-top: 0px;
        margin-left: 0px ;
        /* border: 1px solid white; */
    }
    .designation{
        font-size: 35px!important;
        margin-top: 10px;
    }
    .intro{
        font-size: 17px;
    }

    /* about */
    .img-sec{
        margin-top: 100px;
        height: 600px;
    }
}
